
[submodule "modules/coreupdater"]
	path = modules/coreupdater
	url = https://github.com/thirtybees/coreupdater.git
	ignore = dirty
[submodule "modules/dashactivity"]
	path = modules/dashactivity
	url = https://github.com/thirtybees/dashactivity.git
	ignore = dirty
[submodule "modules/dashgoals"]
	path = modules/dashgoals
	url = https://github.com/thirtybees/dashgoals.git
	ignore = dirty
[submodule "modules/dashproducts"]
	path = modules/dashproducts
	url = https://github.com/thirtybees/dashproducts.git
	ignore = dirty
[submodule "modules/dashtrends"]
	path = modules/dashtrends
	url = https://github.com/thirtybees/dashtrends.git
	ignore = dirty
[submodule "modules/ecbexchange"]
	path = modules/ecbexchange
	url = https://github.com/thirtybees/ecbexchange
	ignore = dirty
[submodule "modules/statsdata"]
	path = modules/statsdata
	url = https://github.com/thirtybees/statsdata.git
	ignore = dirty
[submodule "modules/statsmodule"]
	path = modules/statsmodule
	url = https://github.com/thirtybees/statsmodule.git
	ignore = dirty
[submodule "modules/collectlogs"]
	path = modules/collectlogs
	url = https://github.com/thirtybees/collectlogs.git
